<div class="container mt-3">
  <h4 class="display-4 text-center">{{name}}</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attemted</th>
        <th scope="col">Last Score</th>
        <th scope="col">Highest Score</th>
        <th scope="col">Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ attempted }} times</td>
        <td>{{ lastScore }}</td>
        <td>{{ highestScore }}</td>
        <td>{{ rank }}</td>
      </tr>
    </tbody>
  </table>
</div>
