/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  /* background-color: #231F20; */
  color: #0ABEF2;
  font-weight: 500;
}

.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.user_details {
  font-size: 0.8rem !important;
}

.question {
  border-bottom: 0.5px solid #dddddd;
}

.del {
  text-decoration: line-through;
  color: red !important;
}

.success {
  position: relative;
}

.success::after {
  position: absolute;
  content: "\2713";
  left: -3px;
  top: -2px;
  font-weight: 800;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  color: rgb(48, 160, 48);

}
